:root {
    --color-gray: #C2D9E8;
    --color-blue: #60B2F0;
    --color-green: #027D8D;
    --color-red: #F25D50;
    --color-orange: #FFA652;
    --color-white : #fff;
    --color-black: #000;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bg-blue {
    background: var(--color-blue);
}
.bg-gray {
    background: var(--color-gray);
}
.bg-green {
    background: var(--color-green);
}
.bg-red {
    background: var(--color-red);
}
.bg-orange {
    background: var(--color-orange);
}


.color-white {
    color: var(--color-white);
}
.color-black {
    color: var(--color-black);
}
.color-blue {
    color: var(--color-blue);
}
.color-gray {
    color: var(--color-gray);
}
.color-green {
    color: var(--color-green);
}
.color-red {
    color: var(--color-red);
}
.color-orange {
    color: var(--color-orange);
}

.flex {
    display: flex;
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}


.m-1 {
    margin: 2rem;
}

.p-1 {
    padding: 1rem;
}

.ml-1 {
    margin-left: 2rem;
}
.mt-1 {
    margin-top: 2rem;
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}


input[type=text] {
    padding: 10px;
    margin:10px 0;
    width:100%;
    border: 0;
    border-radius:5px;
  }

select {
    padding:10px;
    margin:10px 0;
    width: 100%;
    border: 0;
    border-radius:5px;
}


.border-danger {
    border: 1px red solid;
}

.hidden {
    visibility: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    min-height: 100px;
}

body {
    background-color: var(--color-gray);
    font-family: Arial, sans-serif;
}

.main-header {
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black)
}

.main-header .entregable {
    text-align: center;
    color: var(--color-black);   
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-gray);
    padding: 2rem;
}

li > p {
    padding: 3px;
}

.btn-pelicula {
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    background-color: wheat;
    width: 100%;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.btn-pelicula:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 25px 0 rgba(0,0,0,0.19);
}